.ski{
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: rgb(55, 85, 11);
  text-decoration-thickness: 5px;
}
.textcol{
  color:greenyellow;
}
.stick{
  position: sticky;
  top: 0%;
  z-index:1;
}

.cusfont {
  font-family: "Playwrite AU TAS", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.aaa{

  animation-duration: 0.7s;
  animation-name: s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
@keyframes s {
 from{
  transform: translateX(-200px);
 } 
 to{
  transform: translateX(0px);
 }
}
.ani{
  
  animation-name: we;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
@keyframes we {
   from{
       transform: translateY(100px);
   }
   to{
       transform: translateY(0px);
   }
}
.ani2{
  
  animation-name: we;
  animation-duration: 0.45s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.ani3{
  
  animation-name: we;
  animation-duration: 0.60s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.ani4{
  
  animation-name: we;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
.ani5{
  
  animation-name: we;
  animation-duration: 0.9s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.anime1{
  animation-name: wee;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
@keyframes wee {
   from{
       transform: translateX(50px);
   }
   to{
       transform: translateX(0px);
   }
}
.anime2{
  animation-name: wee;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;

}
.anime3{
  animation-name: wee;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;

}
.anime4{
  animation-name: wee;
  animation-duration: 0.9s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.anime5{
  animation-name: wee;
  animation-duration: 1.1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.scr{
  animation-name: slidee;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  opacity:1;
  
}
@keyframes slidee {
  from{
      transform: translateY(400px);
  }
  to{
    opacity:1;
      transform: translateY(0px);
  }
}



#cov{
  height:100%;
  width:100%;
  
  background-color: rgba(0, 0, 0, 0.36);
}
.trans{
  box-shadow:3px 3px;
  transition-property: all;
  transition-duration: 0.7s;
  transition-timing-function: ease;
}
.trans:hover{
  background-color: rgba(169, 169, 169, 0.568)
}

#con{
  width:95%
}
#img{
  border-radius:50%;
}

